<template>
    <div>
      <h1>Nos voitures en stock : </h1>
      <div v-for="car in cars" v-bind:key="car.id">
        <h2>Marque : {{ car.brand }}</h2>
        <h3>Modèle : {{ car.model }}</h3>
        <h4>Année : {{ car.year }}</h4>
        <h4>Immatriculation : {{ car.plate }}</h4>
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios'
  export default {
    data() {
      return {
        cars: [],
      };
    },
  
    methods: {
      async getData() {
        try {
          const response = await axios.get(
            "http://localhost:3001/cars/")
          .then((response) => {
            console.log(response);
            this.cars = response.data;
          });
          
        } catch (error) {
          console.log(error);
        }
      },
    },
  
    created() {
      this.getData();
    },
  };
  </script>